* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Benne, serif;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Funnel Display", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: min(100vh, 1080px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

section {
  padding-block: 5rem;
}

.section-text > * {
  margin-top: 0;
}

.section-text > h3 {
  font-size: 3em;
  border-top: 2px solid black;
  padding-top: 1.5rem;
}

.section-title {
  position: relative;
  left: 4em;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.4em;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.70);
}

.hero-content {
  z-index: 2;
}

.hero-text {
  position: relative;
  top: 2em;
  left: 3em;
  color: rgba(255, 255, 255, 0.92);
}

.hero-text h1 {
  font-size: 6.4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.8em;
  letter-spacing: -0.3rem;
  width: 60%;
}

.hero-text h3 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.16rem;
  text-wrap: balance;
  font-family: Benne, serif;
  width: 75%;
}

#hero nav {
  font-family: "Funnel Display";
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
}

.nav-cta {
  background-color: orange;
  border-width: 2px;
  border-color: orange;
  border-style: solid;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 9999px;
}

.header-cta {
  position: absolute;
  bottom: 6em;
  left: 3em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.92);
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Funnel Display", sans-serif;
  font-size: 1.3em;
  border: 2px solid white;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-cta:hover {
  background-color: rgb(60, 60, 60, 0.5);
}

.top-navbar {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 2rem;
  z-index: 20;
}

.nav-link {
  z-index: 30;
  pointer-events: all;
}

main {
  position: relative;
  top: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
}

.container {
  width: min(70%, 1400px);
  padding: 3rem;
  margin-inline: auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
