* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Benne, serif;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Funnel Display", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

section {
  position: relative;
  padding-block: 5rem;
  min-height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.70);
}

#hero nav {
  font-family: "Funnel Display";
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5rem;
  margin-top: 1rem;
}

.top-navbar {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 3rem;
}

.nav-cta {
  background-color: orange;
  border-width: 2px;
  border-color: orange;
  border-style: solid;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 9999px;
}

.hero-content {
  z-index: 2;
}

.hero-text {
  position: relative;
  top: 2em;
  left: 5rem;
  color: rgba(255, 255, 255, 0.92);
}

.hero-text h1 {
  /* font-size: 13.4rem; for 4k screens lol */
  font-size: 6.4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.8em;
  letter-spacing: -0.3rem;
  width: 60%;
}

.hero-text h3 {
  /* font-size: 8rem; for 4k screens lol */
  font-size: 4rem;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.16rem;
  text-wrap: balance;
  font-family: Benne, serif;
  width: min(75%, 2000px);
}
.header-cta {
  position: absolute;
  bottom: 3rem;
  left: 5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.92);
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Funnel Display", sans-serif;
  font-size: 1rem;
  border: 2px solid white;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-cta:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.header-cta span {
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.header-cta:hover span {
  transform: translateX(5px);
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  opacity: 0.5;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.nav-link:hover::after {
  width: 100%;
  opacity: 1;
}

main {
  position: relative;
  overflow: hidden;
  top: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  min-height: 100vh;
}

.container {
  width: min(70%, 1400px);
  padding: 3rem;
  margin-inline: auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

section header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25rem;
}

.section-title {
  font-size: 6em;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  left: 6rem;
}

.bg-section-title {
  z-index: -1;
  opacity: 0.07;
  font-size: 13em;
  width: fit-content;
  position: relative;
  top: -3rem;
}

.section-cover,
.section-text {
}

.section-text > * {
  margin-top: 0rem;
  padding-right: 5rem;
}

.section-text > h3 {
  font-size: 3em;
  padding-top: 1rem;
  position: relative;
}

.section-text > h3::before {
  content: "";
  height: 5px;
  width: 130px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.section-cover {
  object-fit: cover;
  height: 100%;
}

.section-link {
  display: inline-block;
  color: black;
  font-family: "Funnel Display", sans-serif;
  padding: 0;
  padding-bottom: 10px;
  position: relative;
  transition-duration: 300ms;
}

.section-link:hover {
  color: rgb(50, 50, 150);
}

.section-link .fa-solid {
  font-size: 0.8rem;
}

.section-link::before {
  content: "";
  height: 1px;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: rgb(50, 50, 150);
  transition-duration: 300ms;
}

.section-link:hover::before {
  opacity: 1;
  bottom: 3px;
}
